[Desktop Entry]
Type=Application
Name=SPRING2
Comment=FASTQ and FASTA compressor for sequencing data
Exec=spring2
Icon=spring2
Categories=Science;Biology;
Keywords=FASTQ;FASTA;compression;genomics;sequencing;bioinformatics;
StartupNotify=false
Terminal=true
